:root {
    --white: #FEFEFE;
    --light-grey: #F2F2F2;
    --dark-grey: #E5E5E5;
    --blue: #2C9CDB;
    --black: #585858;
}

body {
    background-color: var(--dark-grey);
    color: var(--black);
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* form {
    width: 100%;
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #707070;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #707070;
  }

.Container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 1em auto;
    padding: 1em;
    background-color: var(--white);
}

.SearchInput {
    background-color: var(--light-grey);
    padding: .25em;
    width: 100%;
}

.SearchButton {
    background-color: var(--blue);
    color: var(--dark-grey);
    width: 100%;
    padding: 1em 0;
    margin: 1em auto;
}

.DropdownContainer {
    background-color: var(--light-grey);
    margin: .25em;
    padding: .25em;
    text-align: center;
}

.Wrap {
        width: 90%;
        align-self: flex-end;
}

.SingleRepo {
    background-color: var(--dark-grey);
    color: black;
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    padding: .5em;
}

.RepoTitle {
    font-weight: 700;
}