:root {
    --white: #FEFEFE;
    --light-grey: #F2F2F2;
    --dark-grey: #E5E5E5;
    --blue: #2C9CDB;
    --black: #585858;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #707070;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #707070;
  }

#wrap {
    /* border: 1px solid #ccc; */
    width: 90%;
    align-self: flex-end;
}
#slider {
    overflow-y: hidden;
    max-height: 0; /*hidden by default */
    -webkit-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    background: var(--white);
    /* height: inherit;  */
    width: 100%;    
}
#toggle {
    display: none;
}
#toggle + label {
    color: black;
    text-align: center;
    border-radius: 2px;
    background: var(--light-grey);
    border: 1px outset buttonface;
    display: inline-block;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    margin: 1em auto;
    width: 100%;
}
/* most important part is here: */
#toggle:checked ~ #wrap > #slider {
    max-height: 100%;
}